<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Pacifico|Acme|Raleway:400,700&display=swap" rel="stylesheet">
    <link rel='stylesheet' id='font-awesome-css' href='https://use.fontawesome.com/releases/v5.8.0/css/all.css' type='text/css' media='all' />
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/lightbox.css">
</head>

<body>
    <header>
        <div class="site-title-container">
            <a href="/" alt="{{site.title}}">
                <h1 class="site-title"> {{site.title}}</h1>
                <p class="site-description">{{site.description}}</p>
            </a>
        </div>
        {% include navigation.html %}

    </header>

    {% if page.url == "/" %}
    <div class="banner"> {% include youtube-player.html id=page.youtubeId %}</div>
    {% endif %}
    {% if page.banner %}
    <div class="banner">
        {% include banner.html %}</div>
    {% endif %}

    <div class="main">
        <section class="content">
        {% if page.url != "/"%}
        <h2>{{page.title}}</h2>
        {%endif%}
            {{ content }}
        </section>

    </div>
    {% include back-to-top.html %}
    <footer>
    <hr>
        {% include footer.html %}
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/lightbox.min.js"></script>
    <script src="/assets/js/back-to-top.js"></script>

</body>

</html>
