--- 
layout: default 
--- 

{% for gallery in site.data.galleries %} 
{% if gallery.id == page.galleryid%}

<h1>{{ page.title }}</h1>
<h2>{{ gallery.decription }}</h2>
<ul class="photo-set no-list-style">
    {% for image in gallery.images%}
    <li>
        <a href="{{ site.baseurl }}/assets/images/gallery/{{ image.name }}" data-lightbox="{{ page.galleryid }}" data-title="{{ image.name }}"><img src="{{ site.baseurl }}/assets/images/gallery/{{ image.thumb }}" alt="Photo {{ image.name }} from {{ page.galleryid | capitalize }}"><span class="photo-set-image-description">{{image.text}}</span></a>
    </li>

    {% endfor %}
</ul>
{% endif %} 
{% endfor %}
