.title {
    margin: 0 auto;
}

.main,
.content,
.banner,
header,
iframe,
footer {
    background-color: $color__background-content;
    max-width: $size__max-width;
    margin: 0 auto;
    width: 100%;
}

.main {
    width: 100%;
}

.content {
    width: 95%;
}

.site-title-container {
    padding: 1em;
    .site-title,
    .site-description {
        width: 100%;
        text-align: center;
        color: $color__text-screen;
    }
}

.site-title {
    @include font-size(2.25);
    font-family: $font__title;
    text-shadow: -1px -1px #3F4E68;
    margin: 0;
}

.site-description {
    @include font-size (1.25);
    margin: 0 auto;
}

.full-width {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
}

.half-width {
    // left: 25%;
    margin-left: calc(-100vw / 2 + 48em / 2);
    margin-right: calc(-100vw / 2 + 48em / 2);
    // max-width: 50vw;
    position: relative;
    // right: 25%;
    // width: 50vw;
}

.left {
    float: left;
    margin: 0 1em 1em 0;
}

.right {
    float: right;
    margin: 0 0 1em 1em;
}

.footer-credits {
    list-style-type: none;
    margin: 0 auto;
    li {
        display: inline-block;
        a {
            min-width: 100px;
            padding: 10px 10px 10px 0;
        }
        i {
            color: $color__yelapa-salmon;
            @include font-size(2);
        }
    }
}

.copyright {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

div.elsewhere {
    a {
        width: 100%;
        height: auto;
        padding: 1em;
        background-color: #F27853;
        margin: 0 auto;
        text-align: center;
        border-radius: 3px;
        i,
        span {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            color: $color__text-screen;
        }
        i {
            @include font-size(3);
        }
        span {
            font-weight: 700;
        }
    }
}