.title {
    margin: 0 auto;
}

.main,
.content,
.banner,
header,
iframe,
footer {
    background-color: $color__background-content;
    max-width: $size__max-width;
    margin: 0 auto;
    width: 100%;
}

.main {
    width: 100%;
}

.content {
    width: 95%;
}

.site-title-container {
    padding: 1rem;
    .site-title,
    .site-description {
        width: 100%;
        text-align: center;
        color: $color__text-screen;
    }
}

.site-title {
    @include font-size(2.125);
    @media only screen and (min-width: $screen-size--medium) {
        @include font-size(2.25);
    }
    font-family: $font__title;
    text-shadow: -0.0625rem -0.0625rem #3F4E68;
    margin: 0;
}

.site-description {
    @include font-size (1.25);
    margin: 0 auto;
}

.full-width {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
}

.half-width {
    // left: 25%;
    margin-left: calc(-100vw / 2 + 48em / 2);
    margin-right: calc(-100vw / 2 + 48em / 2);
    // max-width: 50vw;
    position: relative;
    // right: 25%;
    // width: 50vw;
}

.left {
    @media only screen and (min-width: $screen-size--medium) {
        float: left;
        margin: 0 1rem 1rem 0;
    }
}

.right {
    @media only screen and (min-width: $screen-size--medium) {
        float: right;
        margin: 0 0 1rem 1rem;
    }
}

.footer-credits {
    list-style-type: none;
    margin: 0 auto;
    a {
        min-width: 100px;
        padding: 0 1rem;
        text-align: center;
    }
    i {
        color: $color__yelapa-salmon;
        @include font-size(2);
    }
}

.copyright {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
}

div.elsewhere {
    a {
        width: 100%;
        height: auto;
        padding: 1em;
        background-color: $color__yelapa-salmon;
        margin: 0 auto;
        text-align: center;
        border-radius: 0.1875rem;
        border-bottom: none;
        grid-column-start: 2;
        &:hover {
            background-color: $color__text-screen;
            // border: 1px solid $color__yelapa-salmon;
            i,
            span {
                color: $color__yelapa-salmon;
            }
        }
        i,
        span {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            color: $color__text-screen;
        }
        i {
            @include font-size(3);
        }
        span {
            font-weight: 700;
        }
    }
}
