html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

header {
    margin: 0 auto;
    width: 100%;
}

body {
    background: $color__background-body;
    /* Fallback for when there is no custom background color defined. */
}

footer {
    padding: 1rem;
}

p {
    margin: 0 0 1.5rem;
}

hr {
    background-color: $color__background-hr;
    border: 0;
    height: 1px;
    margin-bottom: 1.5rem;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
}

figure {
    margin: 0;
    padding: 0 0 1rem;
    p {
        margin: 0;
    }
}

iframe {
    display: block;
    margin: 0 auto;
}