    ul,
    ol {
        // margin: 0 0 1.5em 3em;
        margin: 0 0 1.5em 0;
    }
    
    ul {
        list-style: disc;
    }
    
    ol {
        list-style: decimal;
    }
    
    li>ul,
    li>ol {
        margin-bottom: 0;
        margin-left: 1.5em;
    }
    
    li>p {
        margin-bottom: 0;
        // display: inline-block;
    }
    
    dt {
        font-weight: bold;
    }
    
    dd {
        margin: 0 1.5em 1.5em;
    }
    
    .no-list-style {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .content {
        ul {
            list-style: none;
            li {
                &::before {
                    content: "\2022";
                    font-weight: bold;
                    color: $color__text-screen;
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                }
                p {
                    display: inline-block
                }
            }
        }
    }
    
    .photo-set {
        li {
            &::before {
                content: ""!important;
            }
        }
    }