header {
    nav {
        padding-bottom: 1rem;
        @media only screen and (min-width: $screen-size--medium) {
            padding-bottom: 0;
        }
        a {
            display: inline-block;
            padding: 0.625rem;
            border: 0.0625rem solid $color__text-screen;
            min-width: 6.25rem;
            text-align: center;
            color: $color__text-screen;
            background-color: $color__yelapa-salmon;
            font-weight: 700;
            border-radius: 0.1875rem;
            white-space: nowrap;
            &:visited {
                color: $color__text-screen;
            }
            &:hover {
                border: 1px solid $color__yelapa-salmon;
                // border-bottom: none;
                ;
                background-color: $color__text-screen;
                color: $color__yelapa-salmon;
            }
        }
    }
}